---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout>
  <!-- Heading -->
  <div class="relative text-center mb-12">
    <h2
      class="relative text-4xl md:text-5xl lg:text-6xl font-bold text-white z-10 animate-reveal"
    >
      <span
        class="bg-clip-text text-transparent bg-gradient-to-r from-white to-white"
      >
        Login
      </span>
    </h2>
    <p class="text-lg text-neutral-200 max-w-2xl mx-auto font-light mt-4">
      The password is "password".
    </p>
  </div>

  <form
    action="/api/login"
    method="POST"
    class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-lg"
    id="login-form"
  >
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Enter password"
      class="w-full p-3 mb-4 border rounded focus:outline-none focus:ring-2"
      required
    />

    <button type="submit" class="w-full p-3 text-lg"> Login </button>
  </form>
</PageLayout>

<script>
  // Add any client-side JavaScript if needed

  async function submitLoginForm(event) {
    event.preventDefault();
    const password = event.target.password.value;
    const contents = JSON.stringify({ password });
    const response = await fetch("/api/login", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: contents,
    });
    const data = await response.json();
    if (data.success) {
      // set cookie
      document.cookie = `token=${data.token}; path=/; max-age=3600; secure; SameSite=Strict`;
      console.log("storing token in cookie:", data.token);
      // set session storage
      sessionStorage.setItem("loggedIn", "true");
      // redirect to home page
      window.location.href = "/";
    } else {
      window.alert("Login failed: " + data.message);
    }
  }
  document
    .getElementById("login-form")
    .addEventListener("submit", submitLoginForm);
</script>
