---
interface MenuItem {
  name: string;
  icon: string;
  slide: number;
}

const menuItems: MenuItem[] = [
  { name: 'Home', icon: 'fa-home', slide: 0 },
  { name: 'Gallery', icon: 'fa-camera', slide: 1 },
  { name: 'Profile', icon: 'fa-user', slide: 2 },
  { name: 'Services', icon: 'fa-gear', slide: 3 },
  { name: 'Contact', icon: 'fa-envelope', slide: 4 },
];
---

<nav id="sidebar" @click="sidebarOpen = !sidebarOpen">
  <ul class="flex flex-row gap-2">
    {menuItems.map((item, index) => (
      <li
        class="menu-item py-2 px-4 flex flex-row items-center gap-1 cursor-pointer"
        x-bind:class={`{ 'text-color-accent text-highlight': activeSlide === ${item.slide} }`}
        x-on:click={`goToSlide(${item.slide})`}
      >
        <div class="menu-decoration"></div>
        <!-- <i class={`fas ${item.icon} text-lg`}></i> -->
        <span class="menu-text text-md">{item.name}</span>
      </li>
    ))}
  </ul>
</nav>