---
import ServiceItem from "./ServiceItem.astro";
import Copyright from "./Copyright.astro";
import servicesData from "../data/services.json";

const { services, sectionData } = servicesData;

---

<div
  class="section h-screen overflow-y-auto py-8 flex flex-col bg-gradient-to-b from-[var(--color-bg)] to-neutral-900 scrollable lg:px-16 xl:px-24"
>

  <div class="container mx-auto px-4">
    <div class="text-center mb-12">
      <h2
        class="relative text-4xl md:text-5xl lg:text-6xl font-bold text-white z-10 animate-reveal mb-3"
      >
        <span
          class="bg-clip-text text-transparent bg-gradient-to-r from-white to-white"
        >
          {sectionData.title}
        </span>
      </h2>
      <p class="text-lg text-neutral-200 max-w-2xl mx-auto font-light mb-6">
        {sectionData.description}
      </p>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        {services.map((service) => <ServiceItem {...service} />)}
      </div>
    </div>

    <div class="revisions-policy text-neutral-400 text-sm mt-4 text-center">
      <h3 class="text-lg font-semibold text-white">Revisions Policy</h3>
      <p>All services include 2 free revisions during the sketch phase.</p>
      <p class="mt-2">
        Additional mid-major revisions are $10-50 each, depending on complexity.
      </p>
    </div>

    <button
      @click="goToSlide(4)"
      class="relative bg-transparent border-2 border-white text-white mt-10 px-8 py-3 rounded-md text-lg font-medium hover:bg-white hover:text-black transition-all duration-300 overflow-hidden group text mx-auto block"
    >
      <span class="relative z-10">Contact Me</span>
      <span
        class="absolute inset-0 bg-white scale-x-0 group-hover:scale-x-100 transition-transform duration-300 origin-center"
      ></span>
    </button>

    <Copyright />
  </div>
</div>
