---
import ServiceItem from "./ServiceItem.astro";
import Copyright from "./Copyright.astro";

// Interface definition
interface Service {
  filler?: boolean;
  icon: string;
  title: string;
  description: string;
  price: string;
  duration: string;
  img1: string;
  img1ObjPosition?: string;
  img2?: string;
  img2ObjPosition?: string;
  img3?: string;
  img3ObjPosition?: string;
}
interface HeadingService {
  title: string;
  description: string;
}

// Data section
const services: Service[] = [
  {
    icon: "",
    title: "Sketches",
    description:
      "Loose black-and-white or lightly colored sketches. Ideal for quick ideas or early concept exploration.",
    price: "~$30–$60",
    duration: "",
    img1: "/img/gallery/compressed/monster-knight.webp",
    img1ObjPosition: "top",
    img2: "/img/gallery/compressed/wild-sketch.webp",
    img2ObjPosition: "center",
    img3: "/img/gallery/compressed/dragon-sketch.webp",
    img3ObjPosition: "top",
  },
  {
    icon: "",
    title: "Character Design",
    description:
      "Custom characters with optional front/back views, expressions, or outfit variations. Suitable for games, stories, or worldbuilding.",
    price: "~$150–$400",
    duration: "",
    img1: "/img/gallery/compressed/knight.webp",
    img1ObjPosition: "top",
  },
  {
    icon: "",
    title: "Full Illustration",
    description:
      "Highly detailed, fully rendered artwork. Includes characters, backgrounds, and lighting — perfect for covers or key scenes.",
    price: "~$200–$1000",
    duration: "",
    img1: "/img/gallery/compressed/angel death.webp",
    img2: "/img/gallery/compressed/Space-Marine-2.webp",
    img2ObjPosition: "top",
    img3: "/img/gallery/compressed/gabriel.webp",
    img3ObjPosition: "top",
  },
  {
    icon: "",
    title: "Portraits",
    description:
      "Bust or full-body painted portraits in a realistic or stylized aesthetic. Personal, gift, or fantasy-themed options available (and pets, too).",
    price: "~$80–$250",
    duration: "Full-day coverage",
    img1: "/img/gallery/compressed/fluffy-cat.webp",
    img2: "/img/gallery/compressed/portrait2.webp",
    img3: "/img/gallery/compressed/portrait6.webp",
  },
  {
    icon: "",
    title: "Advanced lineart & hatching",
    description:
      "Black and white drawings with high detail and complexity. Great for book illustrations, posters, or intricate designs.",
    price: "~$150–$600",
    duration: "",
    img1: "/img/gallery/compressed/mutated dragon.webp",
    img1ObjPosition: "top",
    img2: "/img/gallery/compressed/dragon.webp",
    img2ObjPosition: "left",
    img3: "/img/gallery/compressed/gundam.webp",
    img3ObjPosition: "top",
  },
  {
    icon: "",
    title: "Emotes & Icons",
    description:
      "Custom expressive emotes and profile icons for Twitch, Discord, and social media.",
    price: "~$10–$40 per emote/icon",
    duration: "",
    img1: "/img/gallery/compressed/potions.webp",
    img2: "/img/gallery/compressed/sword.webp",
    img3: "/img/gallery/compressed/dagger.webp",
  },
  {filler: true,},
  {
    icon: "",
    title: "Other Services",
    description:
      "Video thumbnails, stream overlays, comic pages and other digital art needs. Contact for custom quotes.",
    price: "???",
    duration: "",
  },
  {filler: true},
];

const sectionData: HeadingService = {
  title: "My Services",
  description:
    "Discover my range of professional art services. All comission services include commercial rights and high-resolution files. No NSFW. Prices can be lower or higher if we agree on a particularly simple or complex piece.",
};
---

<div
  class="section h-screen overflow-y-auto py-8 flex flex-col bg-gradient-to-b from-[var(--color-bg)] to-neutral-900 scrollable lg:px-16 xl:px-24"
>
  <div class="container mx-auto px-4">
    <div class="text-center mb-12">
      <h2
        class="relative text-4xl md:text-5xl lg:text-6xl font-bold text-white z-10 animate-reveal mb-3"
      >
        <span
          class="bg-clip-text text-transparent bg-gradient-to-r from-white to-white"
        >
          {sectionData.title}
        </span>
      </h2>
      <p class="text-lg text-neutral-200 max-w-2xl mx-auto font-light mb-6">
        {sectionData.description}
      </p>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        {services.map((service) => <ServiceItem {...service} />)}
      </div>
    </div>

    <div class="revisions-policy text-neutral-400 text-sm mt-4 text-center">
      <h1 class="text-lg font-semibold text-white">Revisions Policy</h1>
      <p>All services include 2 free revisions during the sketch phase.</p>
      <p class="mt-2">
        Additional mid-major revisions are $10-50 each, depending on complexity.
      </p>
    </div>

    <button
      @click="goToSlide(4)"
      class="relative bg-transparent border-2 border-white text-white mt-10 px-8 py-3 rounded-md text-lg font-medium hover:bg-white hover:text-black transition-all duration-300 overflow-hidden group text mx-auto block"
    >
      <span class="relative z-10">Contact Me</span>
      <span
        class="absolute inset-0 bg-white scale-x-0 group-hover:scale-x-100 transition-transform duration-300 origin-center"
      ></span>
    </button>

    <Copyright />
  </div>
</div>
