---
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
import Analytics from '@vercel/analytics/astro'
import "../styles/global.css";
import "@splidejs/splide/dist/css/splide.min.css";
import "glightbox/dist/css/glightbox.min.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Primary Meta Tags -->
    <title>Katriga Arts - Commission your imagination into reality</title>
    <meta name="title" content="Katriga Arts - Commission your imagination into reality" />
    <meta
      name="description"
      content="Affordable art commissions with a fine art twist. I will turn your dream scenes, characters, avatars, or pretty much anything you can imagine into high quality illustrations"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://katriga.art/" />
    <meta property="og:title" content="Katriga Arts - Commission your imagination into reality" />
    <meta
      property="og:description"
      content="Affordable art commissions with a fine art twist. I will turn your dream scenes, characters, avatars, or pretty much anything you can imagine into high quality illustrations"
    />
    <meta property="og:image" content="https://katriga.art/img/banner.webp" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://katriga.art/" />
    <meta property="twitter:title" content="Katriga Arts - Commission your imagination into reality" />
    <meta
      property="twitter:description"
      content="Affordable art commissions with a fine art twist. I will turn your dream scenes, characters, avatars, or pretty much anything you can imagine into high quality illustrations"
    />
    <meta
      property="twitter:image"
      content="https://katriga.art/img/banner.webp"
    />

    <link rel="canonical" href="https://katriga.art/" />
    <link rel="icon" href="/img/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      rel="stylesheet"
    />
    <style>
      
      .content {
        position: relative;
        z-index: 1;
        color: white;
        padding: 20px;
      }
    </style>
  </head>
  <body x-data="slider">
    <canvas id="shader-canvas"></canvas>
    <Header />
    <Sidebar />
    <main>
      <div class="splide" id="main-slider">
        <div class="splide__track">
          <div class="splide__list">
            <slot />
          </div>
        </div>
      </div>
      <div id="scroll-accumulator" class="scroll-accumulator"></div>
    </main>
    <Analytics/>

    <script src="/src/scripts/vendors.js"></script>
    <script src="/src/scripts/slider.js"></script>
    <script src="/src/scripts/shader.js"></script>
    <script src="/src/scripts/lightbox-masonry.js"></script>
  </body>
</html>
