---
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
import Analytics from "@vercel/analytics/astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <slot name="head" />
    <!-- Favicons básicos -->
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />

    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon-180x180.png" />

    <!-- Android Chrome -->
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/favicon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="/favicon-512x512.png"
    />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body x-data="{ sidebarOpen: false }">
    <canvas id="shader-canvas"></canvas>
    <Header />
    <Sidebar />
    <main>
      <div
        class="section py-8 h-screen flex flex-col scrollable lg:px-16 xl:px-24"
      >
        <slot />
      </div>
    </main>
    <Analytics />

    <script src="/src/scripts/shader.js"></script>
    <script src="/src/scripts/vendors.js"></script>
  </body>
</html>
